body {
    background-image: url('../image/intro.gif');
    background-size: cover;
    background-position: center;
}
span {
    position: fixed;
    margin: auto;
    text-align: center;
    bottom: 100px;
    width: 100%;
    color: azure;
}
